<p>Hey <%= @user.username %>,</p>

<p>Thanks for joining <%= link_to "Favsi", "http://favsi.com" %>. *high five*</p>

<p>Feel free to reply back if you have any trouble with the site or if you just want to say hi.</p>

<p>In case you forget, your username is '<%= @user.username %>' and you signed up with your '<%= @user.email %>' email address.</p>

<p>Cheers!<br /></p>
<p>Justin<br />
<%= link_to "Favsi", "http://favsi.com" %></p>