<%= content_for :title, "Favsi - Lists about #{@tag.name}" %>

<h1>Lists about <%= @tag.name.titleize %></h1>

<p>
All lists tagged with "<%= @tag.name.titleize %>"
</p>


<div id="lists">
<% @lists.each do |list| %>
	<div id="newest-list-item">

	<div id="sm-author-avatar"><%= image_tag sm_avatar_url(list.user) %></div>
    <p><strong><%= link_to h(list.title), user_list_path(list.user, list) %></strong> by <%= link_to list.user.username, list.user %><br />Published: <%= list.updated_at.strftime("%B %d, %Y")%><br /><% if list.tag_list.present? %>Tags: <% for tag in list.tags %><%= link_to tag.name, tag_path(tag) %>, <% end %><% end %></p>


	</div>
<% end %>
</div>


<p>&nbsp;</p>
<p><%= link_to "View All Tags", tags_path %></p>